.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: $cardBgColor;
  width: 1110px;
  height: 155px;
  box-shadow: 5px 5px 10px 2px $shadowColor;
  margin-top: 20px;
  border-radius: 7px;
  border-left: 5px solid $darkGrayCyan;
  display: flex;
  align-items: center;
}

.card--image {
  width: 90px;
  height: 90px;
  padding-left: 35px;
  padding-right: 35px;
}
.about-job {
  background-color: blueviolet;
  width: 300px;
  height: auto;
}

.skills {
  background-color: brown;
}

